<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            text-align: center;
            background-color: rgb(12, 48, 209);
            color:white;
        }

        h2{
            color: rgb(252, 13, 13);
        }

        h3{
            color: rgba(31, 21, 177, 0.836);
        }

        p {
            border-left: 6px solid red;
            background-color: rgb(20, 202, 235);
            font-size: large;
          }

    </style>
</head>
<body style="background-color:powderblue;">
    <h1>Introduction</h1>
    <p>Java is a general-purpose,object-oriented programming language.
It's the most commonly used programming language in the world.
According to Oracle, 3 billion devices run on Java.
Companies like Google, Amazon and Netflix are using Java to build large portions of their infrastructure and backend services.
<br><br>
The key advantages of learning Java Programming:<br>
Object Oriented<br>
Platform Independent<br>
Simple<br>
Secure<br>
Architecture-neutral<br>
Portable<br>
Robust
    </p>
    <br>



  <h1>History of Java</h1>
    <p>
      James Gosling initiated Java language project in June 1991 for use in one of his many set-top box projects. The language, initially called ‘Oak’ after an oak tree that stood outside Gosling's office, also went by the name ‘Green’ and ended up later being renamed as Java, from a list of random words.
<br>
Sun released the first public implementation as Java 1.0 in 1995. It promised Write Once, Run Anywhere (WORA), providing no-cost run-times on popular platforms.
<br>
On 13 November, 2006, Sun released much of Java as free and open source software under the terms of the GNU General Public License (GPL).
<br>
On 8 May, 2007, Sun finished the process, making all of Java's core code free and open-source, aside from a small portion of code to which Sun did not hold the copyright.

    </p>
    <br>
    <h1>Goals for java creation</h1>

    <p>
      1. Consume less memor<br>
      2. Delivery of software components <br>
      3. Platform independence<br>
      4. Security<br>
      5. Multi-threading<br>

    </p>
    <br>
    <h1>Applications of Java Programming</h1>
    <p>With the advancement of Java and its widespread popularity, multiple configurations were built to suit various types of platforms. Java is guaranteed to be Write Once, Run Anywhere.
    </p>
    <h3>
      1. Multithreaded<br>
      2. Interpreted <br>
      3. High Performance<br>
      4. Distributed <br>
      5. Dynamic<br>

    </h3>


</body>
</html>